@using NFC.Data.Entities
@model NFC.Data.Entities.KT_MIC_WF_SPL

@{
    ViewData["Title"] = "KT MIC & WF SPL";
    ViewData["SubTitle"] = "Details";
    List<KT_MIC_WF_SPL> historyUpdateDatas = (List<KT_MIC_WF_SPL>)ViewData["HistoryUpdateData"];
}

<div>
    <h4>@Html.DisplayFor(model => model.NUM) -  @Html.DisplayFor(model => model.Model)</h4>
    <hr />
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><b>@Html.DisplayNameFor(model => model.CH)</b></td>
                        <td>@Html.DisplayFor(model => model.CH)</td>
                        <td><b>@Html.DisplayNameFor(model => model.Result)</b></td>
                        <td>@Html.DisplayFor(model => model.Result)</td>
                    </tr>
                    <tr>
                        <td><b>@Html.DisplayNameFor(model => model.SPL_100Hz)</b></td>
                        <td>@Html.DisplayFor(model => model.SPL_100Hz)</td>
                        <td><b>@Html.DisplayNameFor(model => model.SPL_1kHz)</b></td>
                        <td>@Html.DisplayFor(model => model.SPL_1kHz)</td>
                    </tr>
                    <tr>
                        <td><b>@Html.DisplayNameFor(model => model.Polarity)</b></td>
                        <td>@Html.DisplayFor(model => model.Polarity)</td>
                        <td><b>@Html.DisplayNameFor(model => model.Impedance_1kHz)</b></td>
                        <td>@Html.DisplayFor(model => model.Impedance_1kHz)</td>
                    </tr>
                    <tr>
                        <td><b>@Html.DisplayNameFor(model => model.MIC1SENS_1kHz)</b></td>
                        <td>@Html.DisplayFor(model => model.MIC1SENS_1kHz)</td>
                        <td><b>@Html.DisplayNameFor(model => model.MIC1Current)</b></td>
                        <td>@Html.DisplayFor(model => model.MIC1Current)</td>
                    </tr>
                    <tr>
                        <td><b>@Html.DisplayNameFor(model => model.DateTime)</b></td>
                        <td>@Html.DisplayFor(model => model.DateTime)</td>
                        <td><b>@Html.DisplayNameFor(model => model.ProductionLine!.Name)</b></td>
                        <td>@Html.DisplayFor(model => model.ProductionLine!.Name)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	@if (historyUpdateDatas.Count > 0)
	{
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">History Update Data</h3>
					</div>
					<!-- ./card-header -->
					<div class="card-body p-0">
						<table class="table table-hover">
							<tbody>
								@{
									var stt = 0;
									foreach (var item in historyUpdateDatas)
									{
										stt += 1;
										<tr class="expandable-body">
											<td>
												<div class="p-0">
													<table class="table table-hover">
														<tbody>
															<tr data-widget="expandable-table" aria-expanded="false">
																<td>
																	<i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
																	Update on: @Html.DisplayFor(item => item.ModifiedOn)
																</td>
															</tr>
															<tr class="expandable-body">
																<td>
																	<div class="p-0">
																		<table class="table table-bordered">
																			<tbody>
                                                                                <tr>
                                                                                    <td><b>@Html.DisplayNameFor(model => model.CH)</b></td>
                                                                                    <td>@Html.DisplayFor(model => model.CH)</td>
                                                                                    <td><b>@Html.DisplayNameFor(model => model.Result)</b></td>
                                                                                    <td>@Html.DisplayFor(model => model.Result)</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td><b>@Html.DisplayNameFor(model => model.SPL_100Hz)</b></td>
                                                                                    <td>@Html.DisplayFor(model => model.SPL_100Hz)</td>
                                                                                    <td><b>@Html.DisplayNameFor(model => model.SPL_1kHz)</b></td>
                                                                                    <td>@Html.DisplayFor(model => model.SPL_1kHz)</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td><b>@Html.DisplayNameFor(model => model.Polarity)</b></td>
                                                                                    <td>@Html.DisplayFor(model => model.Polarity)</td>
                                                                                    <td><b>@Html.DisplayNameFor(model => model.Impedance_1kHz)</b></td>
                                                                                    <td>@Html.DisplayFor(model => model.Impedance_1kHz)</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td><b>@Html.DisplayNameFor(model => model.MIC1SENS_1kHz)</b></td>
                                                                                    <td>@Html.DisplayFor(model => model.MIC1SENS_1kHz)</td>
                                                                                    <td><b>@Html.DisplayNameFor(model => model.MIC1Current)</b></td>
                                                                                    <td>@Html.DisplayFor(model => model.MIC1Current)</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td><b>@Html.DisplayNameFor(model => model.DateTime)</b></td>
                                                                                    <td>@Html.DisplayFor(model => model.DateTime)</td>
                                                                                    <td><b>@Html.DisplayNameFor(model => model.ProductionLine!.Name)</b></td>
                                                                                    <td>@Html.DisplayFor(model => model.ProductionLine!.Name)</td>
                                                                                </tr>
																			</tbody>
																		</table>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</td>
										</tr>
									}
								}

							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
		</div>
	}
</div>
<div class="row">
    <div class="col-sm-1">
        <a asp-action="Edit" class="btn btn-block btn-warning " asp-route-id="@Model?.Id">Edit</a>
    </div>
    <div class="col-sm-1">
        <a asp-action="Index" class="btn btn-block btn-danger">Back to List</a>
    </div>
</div>
