@model IEnumerable<NFC.Models.NFCModel>
@{
	ViewData["Title"] = "Home Page";
}

<!-- Small boxes (Stat box) -->
<div class="row">
	<div class="col-lg-3 col-6">
		<!-- small box -->
		<div class="small-box bg-info">
			<div class="inner">
				<h3>@ViewData["HistoryUploadCount"]</h3>

				<p>Request Upload Data</p>
			</div>
			<div class="icon">
				<i class="ion ion-bag"></i>
			</div>
			<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-6">
		<!-- small box -->
		<div class="small-box bg-success">
			<div class="inner">
				<h3>53<sup style="font-size: 20px">%</sup></h3>

				<p>Bounce Rate</p>
			</div>
			<div class="icon">
				<i class="ion ion-stats-bars"></i>
			</div>
			<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-6">
		<!-- small box -->
		<div class="small-box bg-warning">
			<div class="inner">
				<h3>@ViewData["UserCount"]</h3>

				<p>User Registrations</p>
			</div>
			<div class="icon">
				<i class="ion ion-person-add"></i>
			</div>
			<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-6">
		<!-- small box -->
		<div class="small-box bg-danger">
			<div class="inner">
				<h3>65</h3>

				<p>Unique Visitors</p>
			</div>
			<div class="icon">
				<i class="ion ion-pie-graph"></i>
			</div>
			<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="card">
	<div class="card-header">
		<h3 class="card-title">DataTable with default features</h3>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
		<table id="example" class="table table-bordered table-striped" style="overflow:auto">
			<thead>
				<tr style="text-align:center">
					<th>
						@Html.DisplayNameFor(model => model.NUM)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Model)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.DateTime)
					</th>
					<th colspan="7">
						KT TW SPL
					</th>
					<th colspan="3">
						SENSOR
					</th>
					<th colspan="8">
						KT MIC &amp; WF SPL
					</th>
					<th colspan="4">
						HEARING
					</th>
				</tr>
				<tr>

					<th>
					</th>
					<th>
					</th>

					<th>
					</th>
					<th>
						@Html.DisplayNameFor(model => model.KT_TW_SPL!.Grade)
					</th>

					<th>
						@Html.DisplayNameFor(model => model.KT_TW_SPL!.SPL_1kHz)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.KT_TW_SPL!.Polarity)
					</th>

					<th>
						@Html.DisplayNameFor(model => model.KT_TW_SPL!.THD_1kHz)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.KT_TW_SPL!.Impedance_1kHz)
					</th>

					<th>
						@Html.DisplayNameFor(model => model.KT_TW_SPL!.Result)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.KT_TW_SPL!.CH)
					</th>

					<th>
						@Html.DisplayNameFor(model => model.Sensor!.Result)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Sensor!.DeviceNo)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Sensor!.BattVolt)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.KT_MIC_WF_SPL!.SPL_100Hz)
					</th>

					<th>
						@Html.DisplayNameFor(model => model.KT_MIC_WF_SPL!.SPL_1kHz)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.KT_MIC_WF_SPL!.Polarity)
					</th>

					<th>
						@Html.DisplayNameFor(model => model.KT_MIC_WF_SPL!.Impedance_1kHz)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.KT_MIC_WF_SPL!.MIC1SENS_1kHz)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.KT_MIC_WF_SPL!.MIC1Current)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.KT_MIC_WF_SPL!.Result)
					</th>

					<th>
						@Html.DisplayNameFor(model => model.KT_MIC_WF_SPL!.CH)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Hearing!.Speaker1SPL_1kHz)
					</th>

					<th>
						@Html.DisplayNameFor(model => model.Hearing!.Result)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Hearing!.CH)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Hearing!.NUM)
					</th>
				</tr>
				<tr>

					<th>Lower</th>
					<th></th>
					<th></th>
					<th>112,1</th>
					<th>101,1</th>
					<th>1</th>
					<th>0</th>
					<th>30,6</th>
					<th>
					</th>
					<th></th>
					<th></th>
					<th></th>
					<th>3,6</th>
					<th>105</th>

					<th>
						98,7
					</th>
					<th>

					</th>

					<th>
						28,9
					</th>
					<th>
						-41,5
					</th>
					<th>
						110
					</th>
					<th>
					</th>

					<th>
					</th>
					<th>
						70
					</th>

					<th>
					</th>
					<th>
					</th>
					<th>
					</th>
				</tr>
				<tr>
					<th>
						Upper
					</th>
					<th>
					</th>

					<th>
					</th>
					<th>
						116,2
					</th>

					<th>
						107,1
					</th>
					<th>
						1
					</th>

					<th>
						10
					</th>
					<th>
						41,1
					</th>

					<th>
					</th>
					<th>
					</th>

					<th>
					</th>
					<th>
					</th>
					<th>
						4,2
					</th>
					<th>
						109
					</th>

					<th>
						102,7
					</th>
					<th>
					</th>

					<th>
						39,1
					</th>
					<th>
						-33,5
					</th>
					<th>
						150
					</th>
					<th>
					</th>

					<th>
					</th>
					<th>
						100
					</th>

					<th>
					</th>
					<th>
					</th>
					<th>
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>

						<td>
							@Html.DisplayFor(modelItem => item.NUM)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Model)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.DateTime)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_TW_SPL!.Grade)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_TW_SPL!.SPL_1kHz)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_TW_SPL!.Polarity)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_TW_SPL!.THD_1kHz)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_TW_SPL!.Impedance_1kHz)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_TW_SPL!.Result)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_TW_SPL!.CH)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Sensor!.Result)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Sensor!.DeviceNo)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Sensor!.BattVolt)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_MIC_WF_SPL!.SPL_100Hz)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_MIC_WF_SPL!.SPL_1kHz)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_MIC_WF_SPL!.Polarity)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_MIC_WF_SPL!.Impedance_1kHz)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_MIC_WF_SPL!.MIC1SENS_1kHz)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_MIC_WF_SPL!.MIC1Current)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_MIC_WF_SPL!.Result)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.KT_MIC_WF_SPL!.CH)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Hearing!.Speaker1SPL_1kHz)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Hearing!.Result)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Hearing!.NUM)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Hearing!.CH)
						</td>

					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<!-- /.row (main row) -->
