@using static NFC.Data.Common.NFCUtil
@model PaginatedList<NFC.Data.Entities.Sensor>
@{
	ViewData["Title"] = "SENSOR TEST";
	int currentPage = Model.PageIndex;
	int pageSize = Model.PageSize;
	int totalPages = Model.TotalPages;
	int startPage = Math.Max(1, currentPage - 2);
	int endPage = Math.Min(totalPages, currentPage + 2);
	var pageSizeOptions = new SelectList(new[] { 10, 25, 50, 100 }, ViewBag.PageSize);
}
<div class="row">
	<!-- ./col -->
	<div class="col-lg-6 col-12">
		<h3>Day Shift (8:00 AM - 8:00 PM)</h3>
		<!-- small box -->
		<div class="row">
			<div class="col-6">
				<div class="small-box bg-success">
					<div class="inner">
						<h3>@ViewData["ToTalDayPass"]<sup style="font-size: 20px">%</sup></h3>
						<p>Passed</p>
					</div>
					<div class="icon">
						<i class="ion ion-checkmark-round"></i>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="small-box bg-danger">
					<div class="inner">
						<h3>@ViewData["ToTalDayFail"]<sup style="font-size: 20px">%</sup></h3>
						<p>Failed</p>
					</div>
					<div class="icon">
						<i class="ion ion-close-round"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-6 col-12">
		<h3>Night Shift (8:00 PM - 8:00 AM)</h3>

		<!-- small box -->
		<div class="row">
			<div class="col-6">
				<div class="small-box bg-success">
					<div class="inner">
						<h3>@ViewData["ToTalNightPass"]<sup style="font-size: 20px">%</sup></h3>
						<p>Passed</p>
					</div>
					<div class="icon">
						<i class="ion ion-checkmark-round"></i>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="small-box bg-danger">
					<div class="inner">
						<h3>@ViewData["ToTalNightFail"]<sup style="font-size: 20px">%</sup></h3>
						<p>Failed</p>
					</div>
					<div class="icon">
						<i class="ion ion-close-round"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-header">
		<form asp-action="Index" method="get">

			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<label for="fromDate">From Date:</label>
						<input type="date" name="fromDate" value="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))" class="form-control" />
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="toDate">To Date:</label>
						<input type="date" name="toDate" value="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))" class="form-control" />
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="productionLineId">Production Line:</label>
						@Html.DropDownList("productionLineId", (SelectList)ViewData["ProductionLines"], new { @class = "form-control" })
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="pageSize">Page Size:</label>
						<select name="pageSize" class="form-control" asp-items="@pageSizeOptions"></select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-actions no-color" style="text-align:end">
						<label></label>
						<p>
							<input type="text" name="SearchString" value="@ViewData["Searching"]" />
							<input type="submit" value="Search" class="btn btn-default" />
						</p>
					</div>
				</div>
			</div>

		</form>
	</div>
	<!-- /.card-header -->
	<div class="card-body" style="max-width: 100%; overflow-x: auto;">
		<table id="example" class="table table-bordered table-striped" style="min-width: 1200px">
			<thead>
				<tr>

					<th>
						NUM
					</th>
					<th>
						Model
					</th>
					<th>
						CH
					</th>
					<th>
						DateTime
					</th>
					<th>Device No</th>
					<th>J1_5-6[GND-GND](ohm)</th>
					<th>J1_6-11[GND-GND](ohm)</th>
					<th>J1_11-17[GND-GND](ohm)</th>
					<th>J1_17-18[GND-GND](ohm)</th>
					<th>SHORT(Kohm)</th>
					<th>SPK TW(ohm)</th>
					<th>SPK WF(ohm)</th>
					<th>R2(Kohm)</th>
					<th>DEVICE ID1</th>
					<th>DEVICE ID2</th>
					<th>DEVICE ID3</th>
					<th>DEVICE ID4</th>
					<th>DEVICE ID4</th>
					<th>T0 OPEN</th>
					<th>T1 OPEN</th>
					<th>T0 KODAK CLOSE</th>
					<th>T1 KODAK CLOSE</th>
					<th>T0 KODAK DIFF</th>
					<th>T1 KODAK DIFF</th>
					<th>T0 SKIN CLOSE</th>
					<th>T1 SKIN CLOSE</th>
					<th>SKIN DIFF</th>
					<th>MIC 768KHz Peak</th>
					<th>Batt. Volt.</th>
					<th>Result</th>
					<th>Production Line</th>
				
				</tr>
			</thead>
			<tbody>
				@if (Model.Any())
				{
					foreach (var item in Model)
					{
						<tr>
							<td>
								<a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.NUM)</a>
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Model)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.CH)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DateTime)
							</td>
							<td>@Html.DisplayFor(modelItem => item.DeviceNo)</td>
							<td>@Html.DisplayFor(modelItem => item.J1_5)</td>
							<td>@Html.DisplayFor(modelItem => item.J1_6)</td>
							<td>@Html.DisplayFor(modelItem => item.J1_11)</td>
							<td>@Html.DisplayFor(modelItem => item.J1_17)</td>
							<td>@Html.DisplayFor(modelItem => item.SHORT)</td>
							<td>@Html.DisplayFor(modelItem => item.SPK_TW)</td>
							<td>@Html.DisplayFor(modelItem => item.SPK_WF)</td>
							<td>@Html.DisplayFor(modelItem => item.R2)</td>
							<td>@Html.DisplayFor(modelItem => item.DEVICE_ID1)</td>
							<td>@Html.DisplayFor(modelItem => item.DEVICE_ID2)</td>
							<td>@Html.DisplayFor(modelItem => item.DEVICE_ID3)</td>
							<td>@Html.DisplayFor(modelItem => item.DEVICE_ID4)</td>
							<td>@Html.DisplayFor(modelItem => item.TYPE_ID)</td>
							<td>@Html.DisplayFor(modelItem => item.T0_OPEN)</td>
							<td>@Html.DisplayFor(modelItem => item.T1_OPEN)</td>
							<td>@Html.DisplayFor(modelItem => item.T0_KODAK_CLOSE)</td>
							<td>@Html.DisplayFor(modelItem => item.T1_KODAK_CLOSE)</td>
							<td>@Html.DisplayFor(modelItem => item.T0_KODAK_DIFF)</td>
							<td>@Html.DisplayFor(modelItem => item.T1_KODAK_DIFF)</td>
							<td>@Html.DisplayFor(modelItem => item.T0_SKIN_CLOSE)</td>
							<td>@Html.DisplayFor(modelItem => item.T1_SKIN_CLOSE)</td>
							<td>@Html.DisplayFor(modelItem => item.SKIN_DIFF)</td>
							<td>@Html.DisplayFor(modelItem => item.MIC_768KHz_Peak)</td>
							<td>@Html.DisplayFor(modelItem => item.BattVolt)</td>
							<td>
								@Html.DisplayFor(modelItem => item.Result)
							</td>
							<td>
								@{
									var productionLineId = item.ProductionLineId;
									var productionLines = (SelectList)ViewData["ProductionLines"];
									var productionLine = productionLines.FirstOrDefault(sl => sl.Value == productionLineId.ToString());
									var productionLineName = productionLine != null ? productionLine.Text : "Unknown";
								}
								@productionLineName
							</td>
						</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="31">No data available</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-6">
			<nav>
				<ul class="pagination justify-content-end">
					<li class="page-item @(!Model.HasPreviousPage? " disabled" : "") ">
						<a class="page-link" asp-route-pageNumber="1"
						   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-pageSize="@ViewBag.PageSize"
						   asp-route-SearchString="@ViewData["Searching"]">
							<span>First</span>
						</a>
					</li>
					<li class="page-item @(!Model.HasPreviousPage? " disabled" : "") ">
						<a class="page-link" asp-route-pageNumber="@(Model.PageIndex - 1)"
						   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-pageSize="@ViewBag.PageSize"
						   asp-route-SearchString="@ViewData["Searching"]">
							<span>Previous</span>
						</a>
					</li>
					@for (int i = startPage; i <= endPage; i++)
					{
						<li class="page-item @(Model.PageIndex == i? " active" : "")">
							<a class="page-link" asp-route-pageNumber="@i"
							   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
							   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
							   asp-route-pageSize="@ViewBag.PageSize"
							   asp-route-SearchString="@ViewData["Searching"]">
								<span>@i</span>
							</a>
						</li>
					}
					<li class="page-item @(!Model.HasNextPage? " disabled" : "") ">
						<a class="page-link" asp-route-pageNumber="@(Model.PageIndex + 1)"
						   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-pageSize="@ViewBag.PageSize"
						   asp-route-SearchString="@ViewData["Searching"]">
							<span>Next</span>
						</a>
					</li>
					<li class="page-item @(!Model.HasNextPage? " disabled" : "") ">
						<a class="page-link" asp-route-pageNumber="@endPage"
						   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-pageSize="@ViewBag.PageSize"
						   asp-route-SearchString="@ViewData["Searching"]">
							<span>Last</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>