@using static NFC.Data.Common.NFCUtil
@model PaginatedList<NFC.Data.Entities.Hearing>
@{
	ViewData["Title"] = "Hearing List";
	int currentPage = Model.PageIndex;
	int pageSize = Model.PageSize;
	int totalPages = Model.TotalPages;
	int startPage = Math.Max(1, currentPage - 2);
	int endPage = Math.Min(totalPages, currentPage + 2);

}
<div class="row">
	<!-- ./col -->
	<div class="col-lg-6 col-12">
		<h3>Day Shift (8:00 AM - 8:00 PM)</h3>
		<!-- small box -->
		<div class="row">
			<div class="col-6">
				<div class="small-box bg-success">
					<div class="inner">
						<h3>@ViewData["ToTalDayPass"]<sup style="font-size: 20px">%</sup></h3>
						<p>Passed</p>
					</div>
					<div class="icon">
						<i class="ion ion-checkmark-round"></i>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="small-box bg-danger">
					<div class="inner">
						<h3>@ViewData["ToTalDayFail"]<sup style="font-size: 20px">%</sup></h3>
						<p>Failed</p>
					</div>
					<div class="icon">
						<i class="ion ion-close-round"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-6 col-12">
		<h3>Night Shift (8:00 PM - 8:00 AM)</h3>

		<!-- small box -->
		<div class="row">
			<div class="col-6">
				<div class="small-box bg-success">
					<div class="inner">
						<h3>@ViewData["ToTalNightPass"]<sup style="font-size: 20px">%</sup></h3>
						<p>Passed</p>
					</div>
					<div class="icon">
						<i class="ion ion-checkmark-round"></i>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="small-box bg-danger">
					<div class="inner">
						<h3>@ViewData["ToTalNightFail"]<sup style="font-size: 20px">%</sup></h3>
						<p>Failed</p>
					</div>
					<div class="icon">
						<i class="ion ion-close-round"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-header">
		<form asp-action="Index" method="get">
			
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<label for="fromDate">From Date:</label>
						<input type="date" name="fromDate" value="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))" class="form-control" />
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="toDate">To Date:</label>
						<input type="date" name="toDate" value="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))" class="form-control" />
					</div>
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<div class="form-actions no-color" style="text-align:end">
						<label></label>
						<p>
							<input type="text" name="SearchString" value="@ViewData["Searching"]" />
							<input type="submit" value="Search" class="btn btn-default" />
						</p>
					</div>
				</div>

			</div>
			
		</form>
	</div>
	
	<!-- /.card-header -->
	<div class="card-body">

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					
					<th>
						NUM

					</th>
					<th>
						Model
					</th>
					
					<th>
						CH
					</th>
					<th>
						Date Time
					</th>
					<th>
						Speaker1 SPL[1kHz]
					</th>
					<th>
						Result
					</th>
					<th>
						Production Line
					</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Any())
				{
					foreach (var item in Model)
					{
						<tr>
							<td>
								<a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.NUM)</a>
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Model)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.CH)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DateTime)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Speaker1SPL_1kHz)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Result)
							</td>
							<td>
								@{
									var productionLineId = item.ProductionLineId;
									var productionLines = (SelectList)ViewData["ProductionLines"];
									var productionLine = productionLines.FirstOrDefault(sl => sl.Value == productionLineId.ToString());
									var productionLineName = productionLine != null ? productionLine.Text : "Unknown";
								}
								@productionLineName
							</td>
						</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="7">No data available</td>
					</tr>
				}
			</tbody>
		</table>
		
	</div>
	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-6">
			<nav>
				<ul class="pagination justify-content-end">
					<li class="page-item @(!Model.HasPreviousPage? " disabled" : "") ">
						<a class="page-link" asp-route-pageNumber="1"
						   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-SearchString="@ViewData["Searching"]">
							<span>First</span>
						</a>
					</li>
					<li class="page-item @(!Model.HasPreviousPage? " disabled" : "") ">
						<a class="page-link" asp-route-pageNumber="@(Model.PageIndex - 1)"
						   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-SearchString="@ViewData["Searching"]">
							<span>Previous</span>
						</a>
					</li>
					@for (int i = startPage; i <= endPage; i++)
					{
						<li class="page-item @(Model.PageIndex == i? " active" : "")">
							<a class="page-link" asp-route-pageNumber="@i"
							   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
							   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
							   asp-route-SearchString="@ViewData["Searching"]">
								<span>@i</span>
							</a>
						</li>
					}
					<li class="page-item @(!Model.HasNextPage? " disabled" : "") ">
						<a class="page-link" asp-route-pageNumber="@(Model.PageIndex + 1)"
						   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-SearchString="@ViewData["Searching"]">
							<span>Next</span>
						</a>
					</li>
					<li class="page-item @(!Model.HasNextPage? " disabled" : "") ">
						<a class="page-link" asp-route-pageNumber="@endPage"
						   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-SearchString="@ViewData["Searching"]">
							<span>Last</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
