@using NFC.Data.Entities
@model IEnumerable<NFCUser>

@{
	ViewData["Title"] = "SystemUser";
}
@if (User.IsInRole("Admin"))
{
	<div class="col-md-2">
		<p>
			<a asp-action="Create" class="btn btn-block bg-gradient-primary"><i class="fa fa-plus"></i> Add New User</a>
		</p>
	</div>
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">DataTable with default features</h3>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<table id="example1" class="table table-bordered table-striped" style="width:100%">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Id)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.NormalizedEmail)
						</th>
						<th>
							Role
						</th>
						<th>
							@Html.DisplayNameFor(model => model.NormalizedUserName)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.PhoneNumber)
						</th>

						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Id)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.NormalizedEmail)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Role.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.NormalizedUserName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.PhoneNumber)
							</td>
							<td>
								<div class="input-group input-group">
									<div class="input-group-prepend">
										<button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
											Action
										</button>
										<ul class="dropdown-menu" style="align-items:center">
											<li>
												<a asp-action="Edit" asp-route-id="@item.Id" class="btn bg-gradient-primary"><i class="ion ion-edit"></i>Edit</a>
											</li>
											<li class="dropdown-divider"></li>
											<li>
												<a asp-action="Details" asp-route-id="@item.Id" class="btn bg-gradient-warning"><i class="fa fa-eye"></i>Details</a>
											</li>
											<li class="dropdown-divider"></li>
											<li>
												<a asp-action="Delete" asp-route-id="@item.Id" class="btn bg-gradient-danger"><i class="fa fa-trash"></i>Delete</a>

											</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}
else
{
	<p class="text-danger">You do not have access to this page.</p>
}


