@model NFC.Data.Entities.ProductionLine

@{
    ViewData["Title"] = "Production Line";
    ViewData["SubTitle"] = "Details";
}

<div>
    <h4>ProductionLine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-3">
            Created By
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CreatedById)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ModifiedById)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ModifiedById)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-sm-1">
        <a asp-action="Edit" class="btn btn-block btn-warning " asp-route-id="@Model?.Id">Edit</a>
    </div>
    <div class="col-sm-1">
        <a asp-action="Index" class="btn btn-block btn-danger">Back to List</a>
    </div>
</div>
