@model NFC.Data.Entities.HistoryUpload

@{
    ViewData["Title"] = "History Upload";
    ViewData["SubTitle"] = "Details";
}

<div>
    <h4>HistoryUpload</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.FileContent)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FileContent)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CreatedBy.Id)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ModifiedBy.Id)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-sm-1">
        <a asp-action="Edit" class="btn btn-block btn-warning " asp-route-id="@Model?.Id">Edit</a>
    </div>
    <div class="col-sm-1">
        <a asp-action="Index" class="btn btn-block btn-danger">Back to List</a>
    </div>
</div>
