@using NFC.Data.Common
@using static NFC.Data.Common.NFCUtil
@model PaginatedList<NFC.Data.Entities.HistoryUpload>

@{
	ViewData["Title"] = "History Upload";
	int currentPage = Model.PageIndex;
	int pageSize = Model.PageSize;
	int totalPages = Model.TotalPages;
	int startPage = Math.Max(1, currentPage - 2);
	int endPage = Math.Min(totalPages, currentPage + 2);
	var pageSizeOptions = new SelectList(new[] { 10, 25, 50, 100 }, ViewBag.PageSize);
}
@if (User.IsInRole("Admin") || User.IsInRole("Create Data"))
{
	<div class="col-md-2">
		<p>
			<a asp-action="Create" class="btn btn-block bg-gradient-primary"><i class="fa fa-plus"></i> Create New</a>
		</p>
	</div>
}

<div class="card">
	<div class="card-header">
		<form asp-action="Index" method="get">

			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<label for="fromDate">From Date:</label>
						<input type="date" name="fromDate" value="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))" class="form-control" />
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="toDate">To Date:</label>
						<input type="date" name="toDate" value="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))" class="form-control" />
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="productionLineId">Production Line:</label>
						@Html.DropDownList("productionLineId", (SelectList)ViewData["ProductionLines"], new { @class = "form-control" })
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="pageSize">Page Size:</label>
						<select name="pageSize" class="form-control" asp-items="@pageSizeOptions"></select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-actions no-color" style="text-align:end">
						<label></label>
						<p>
							<input type="text" name="SearchString" value="@ViewData["Searching"]" />
							<input type="submit" value="Search" class="btn btn-default" />
						</p>
					</div>
				</div>

			</div>

		</form>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
		<table class="table table-bordered table-striped" style="width:100%; table-layout:fixed">
			<thead>
				<tr>
					<th>
						Title
					</th>
					<th>
						Type
					</th>
					<th>
						CreatedOn
					</th>
					<th>
						Message
					</th>
					<th>
						CreatedBy
					</th>
					<th>
						Status
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Title)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.TypeStr)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.CreatedOn)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Message)
						</td>
						<td>
							@{
								var userName = "";
								if (item.CreatedById != null)
								{
									var userId = item.CreatedById;
									var users = (SelectList)ViewData["Users"];
									var user = users.FirstOrDefault(sl => sl.Value == userId.ToString());
									userName = user.Text;
								}
							}
							@userName
						</td>

						<td>
							@Html.DisplayFor(modelItem => item.StatusStr)
						</td>
						<td>
							<div class="input-group input-group">
								<div class="input-group-prepend">
									<button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
										Action
									</button>
									<ul class="dropdown-menu" style="align-items:center">

										<li>
											<a asp-action="Details" asp-route-id="@item.Id" class="btn bg-gradient-warning"><i class="fa fa-eye"></i> Details</a>
										</li>
										@if (User.IsInRole("Admin") || User.IsInRole("Create Data"))
										{
											<li class="dropdown-divider"></li>
											<li>
												<a asp-action="Edit" asp-route-id="@item.Id" class="btn bg-gradient-primary"><i class="ion ion-edit"></i> Edit</a>
											</li>
											<li class="dropdown-divider"></li>
											<li>
												<a asp-action="Process" asp-route-id="@item.Id" class="btn bg-gradient-gray"><i class="ion ion-ios-reload"></i> Reload</a>
											</li>
											<li class="dropdown-divider"></li>
											<li>
												<a asp-action="Delete" asp-route-id="@item.Id" class="btn bg-gradient-danger"><i class="fa fa-trash"></i> Delete</a>
											</li>
										}
									</ul>
								</div>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-6">
			<nav>
				<ul class="pagination justify-content-end">
					<li class="page-item @(!Model.HasPreviousPage? " disabled" : "") ">
						<a class="page-link" asp-route-pageNumber="1"
						   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-pageSize="@ViewBag.PageSize"
						   asp-route-SearchString="@ViewData["Searching"]">
							<span>First</span>
						</a>
					</li>
					<li class="page-item @(!Model.HasPreviousPage? " disabled" : "") ">
						<a class="page-link" asp-route-pageNumber="@(Model.PageIndex - 1)"
						   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-pageSize="@ViewBag.PageSize"
						   asp-route-SearchString="@ViewData["Searching"]">
							<span>Previous</span>
						</a>
					</li>
					@for (int i = startPage; i <= endPage; i++)
					{
						<li class="page-item @(Model.PageIndex == i? " active" : "")">
							<a class="page-link" asp-route-pageNumber="@i"
							   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
							   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
							   asp-route-pageSize="@ViewBag.PageSize"
							   asp-route-SearchString="@ViewData["Searching"]">
								<span>@i</span>
							</a>
						</li>
					}
					<li class="page-item @(!Model.HasNextPage? " disabled" : "") ">
						<a class="page-link" asp-route-pageNumber="@(Model.PageIndex + 1)"
						   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-pageSize="@ViewBag.PageSize"
						   asp-route-SearchString="@ViewData["Searching"]">
							<span>Next</span>
						</a>
					</li>
					<li class="page-item @(!Model.HasNextPage? " disabled" : "") ">
						<a class="page-link" asp-route-pageNumber="@endPage"
						   asp-route-fromDate="@(((DateTime)ViewData["CurrentFromDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-toDate="@(((DateTime)ViewData["CurrentToDate"]).ToString("yyyy-MM-dd"))"
						   asp-route-pageSize="@ViewBag.PageSize"
						   asp-route-SearchString="@ViewData["Searching"]">
							<span>Last</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
